.idea/
Base.iml
DemoJava.iml
.gitignore
out
picture.jpg
lib/commons-dbcp-1.4-javadoc/
lib/c3p0-0.9.1.2-javadoc/
.classpath
.project
.settings/
bin/
c3p0-config.xml.bak
.gitignore
#Web/
web/web/WEB-INF/classes/
